NODE_ENV=development
AP_BASE_URL=https://example.org
AP_DB_URL=postgres://user:pass@localhost:5432/platform
AP_LOG_LEVEL=info
AP_BROWSER_HEADLESS=true
AP_QUEUE_ENABLED=false
AP_PROJECT_NAME=template-webapp
AP_ARTIFACTS_DIR=./artifacts
